@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif!important;
}

:root {
    --green: #008b4b;
    --yellow: #f8c144;
    --white: #fff;
}

.top-bar {
    color: var(--white);
    background: var(--green);
    font-size: 14px;
    height: 40px;
}
.top-bar a {
    text-decoration: none;
}

.top-bar .top_bar-right a {
    color: var(--white);
}
.top-bar .top_bar-right a:hover{
    color: var(--yellow);
}

.top-bar .top_bar-right--hotline a {
    color: var(--yellow);
    font-weight: bold;
}

.top-bar .top_bar-right--hotline a:hover {
    color: var(--white);
    font-weight: bold;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 300px;
  }
  
  #search {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none; /* Bỏ viền */
    outline: none; /* Bỏ viền khi nhấp vào */
    border-radius: 20px;
    overflow: hidden;
    color: #555;
    padding-right: 40px;
    background-color: #f9f9f9; /* Màu nền tùy chỉnh nếu muốn */
  }
  
  #search::placeholder {
    color: transparent; /* Ẩn placeholder để không gây nhầm lẫn với văn bản chạy */
  }
  
  #search:focus {
    caret-color: black; /* Hiển thị thanh caret (|) khi nhấp chuột vào */
  }
  
  .search-btn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555;
  }
  