@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif!important;
}

:root {
    --green: #008b4b;
    --yellow: #f8c144;
    --white: #fff;
}

.top-bar {
    color: var(--white);
    background: var(--green);
    font-size: 14px;
    height: 40px;
}
.top-bar a {
    text-decoration: none;
}

.top-bar .top_bar-right {
    color: var(--white);
}

.top-bar .top_bar-right--hotline a {
    color: var(--yellow);
    font-weight: bold;
}